.pageContainer {
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 84px;
  display: flex;
  gap: 72px;
}

.imgAndForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 640px;
  flex-shrink: 0;
}

.carImage {
  width: 100%;
  height: 512px;
  object-fit: cover;
  border-radius: 14px;
}

.bookingContainer {
  padding: 24px;
  background-color: #f9f9f9;
  border-radius: 14px;
  width: 100%;
}

.carDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bookingTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 8px;
}

.bookingSubtitle {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 24px;
  color: rgba(18, 20, 23, 0.8);
}

.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formInput {
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  outline: none;
  font-size: 14px;
  line-height: 1.43;
  width: 100%;
}

.formInput:focus {
  border-color: #3470ff;
}

.formTextarea {
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  outline: none;
  font-size: 14px;
  line-height: 1.43;
  min-height: 100px;
  resize: vertical;
  width: 100%;
}

.formTextarea:focus {
  border-color: #3470ff;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.submitButton {
  width: 156px;
  height: 44px;
  padding: 14px 44px;
  border-radius: 12px;
  background: #3470ff;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start;
}

.submitButton:hover {
  background: #0b44cd;
}
